body {
  /* height: 100vh; */
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header span {
  font-size: 12px;
}

.item-header-1 {
  padding: 8px 32px;
  background-color: #f4f4f4;
}

.header .item-header-1 span {
  color: #929292;
}

.header .item-header-1 span:hover {
  color: #03ac0e;
  cursor: pointer;
}

.header .item-header-1 img {
  width: 14px;
}

.item-header-2 {
  padding: 8px 32px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.item-header-2 .img-tokopedia {
  width: 147px;
}

.item-header-2 .text-kategory {
  padding: 2px 5px;
}

.item-header-2 .text-kategory:hover {
  background-color: #f3f4f5 !important;
  cursor: pointer !important;
  color: #03ac0e;
  border-radius: 5px;
}

.item-header-2 span {
  color: #929292;
}

.item-header-2 .img-search,
.item-header-2 .img-shop {
  width: 18px;
}

.item-header-2 .wrap-search {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 35px;
}

.item-header-2 .wrap-search .form-control {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
}

.item-header-2 .wrap-search .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}

.item-header-2 .wrap-search .form-control:focus {
  box-shadow: none;
  border: 1px solid #03ac0e;
}

.item-header-2 .wrap-search .wrap-icon-search {
  background-color: #f3f4f5;
  position: absolute;
  right: 0;
  height: 100%;
  width: 4%;
}

.item-header-2 .wrap-search .wrap-icon-search .img-search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-header-2 .wrap-img-shop {
  position: relative;
  background-color: transparent;
  height: max-content;
  width: max-content;
  padding: 0px 8px 5px 8px;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.item-header-2 .wrap-img-shop:hover {
  background-color: #f3f4f5;
  cursor: pointer;
}

.line {
  font-size: 26px;
  color: #cdcdcd;
  margin-bottom: 8px;
  font-weight: 100;
}

.header .btn {
  border-radius: 8px;
  font-size: 13px;
  background-color: #03ac0e;
}

.header .btn:first-child {
  background-color: #ffffff;
  border: 1px solid #03ac0e;
  color: #03ac0e;
}

.text-under-search {
  margin-left: 18%;
}

.text-under-search span:hover {
  color: #03ac0e;
  cursor: pointer;
}

.menu-bar {
  display: flex;
  position: absolute;
  right: 35px;
  top: 91px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 12px;
  visibility: hidden;
  transition: 0.1s;
  transform: rotateX(-75deg);
  z-index: 999999;
}

.menuBarStyle {
  visibility: visible;
  transform: rotateX(0deg);
  transform-origin: 0% 0%;
}

.menu-bar h4 {
  font-size: 18px;
  font-weight: bold;
}

.menu-bar p {
  font-size: 14px;
  color: #31353bad;
}

.menu-bar .btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.menu-bar img {
  width: 50%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlayStyle {
  display: block !important;
}

.modal {
  z-index: 9999;
}

.modal-content {
  top: 56px;
  right: 147px;
  padding: 19px;
  width: 150%;
  border-radius: 0;
  border: none;
}

.m-c-head .btn {
  color: #03ac0e;
  border: 1px solid #03ac0e;
  background-color: transparent;
  border-radius: 20px;
}

.m-c-head span {
  color: #818181;
}

.m-c-head .title {
  color: #7b7b7b;
}

/* kategory head */

.kategory {
  display: flex;
  flex-direction: column;
  display: none;
}

.kategoryStyle {
  display: block;
}

.head-kategory {
  width: 100%;
  overflow-x: scroll;
  position: fixed;
  top: 110px;
  z-index: 99999;
  border-top: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.head-kategory span {
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  color: #969696;
}

.head-kategory span:hover {
  padding: 10px 30px;
  border-bottom: 2px solid #03ac0e;
  color: #03ac0e;
  cursor: pointer;
}

.head-left {
  overflow-y: scroll;
  height: 100vh;
  padding-top: 185px;
  padding-left: 35px;
}

.head-left h6 {
  font-size: 12px;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.head-left h6:hover {
  background-color: gainsboro;
  cursor: pointer;
}

/* caraousel style */

.carousel {
  position: relative;
  top: 136px;
}

.carousel-inner {
  width: 95%;
  border-radius: 10px;
}

.carousel-indicators {
  margin-left: 5%;
  justify-content: left;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border-bottom: 0;
  border-top: 0;
}

/* kategory-pilihan */

.kategory-pilihan {
  position: relative;
  top: 160px;
  margin: 8px 32px;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
}

.carousel2 {
  position: relative;
  top: 0;
}

.card-category {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.kategory-pilihan img {
  /* width: 80%; */
}

.kategory-pilihan h1 {
  font-size: 20px;
  font-weight: bold;
}
.kategory-pilihan h2 {
  font-size: 16px;
  font-weight: bold;
}
.kategory-pilihan h3 {
  font-size: 13px;
  font-weight: 400;
}

.item-menu {
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.item-menu:hover {
  border-bottom: 2px solid #03ac0e;
  color: #03ac0e;
  cursor: pointer;
}

.carousel-inner2 {
  width: 100%;
  border-radius: 10px;
}

.menu-scroll {
  overflow-x: scroll;
}

.menu-scroll::-webkit-scrollbar {
  display: none;
}

.item-scroll {
  border-radius: 14px;
}

/* style trend */
.trending {
  padding: 8px 32px;
  position: relative;
  top: 160px;
}

.trending span {
  font-size: 15px;
}

.card-trend {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
}

.card-trend .wrap-img-trend {
  width: 30%;
  height: 100px;
}

/* style wrap affix */

.wrap-affix {
  position: relative;
  top: 170px;
  padding: 8px 32px;
}

.bg-affix1 {
  background: rgb(98, 0, 73);
  background: rgb(57, 0, 98);
  background: linear-gradient(
    90deg,
    rgb(98 0 84) 0%,
    rgba(158, 82, 150, 1) 100%
  );
}

.bg-affix2 {
  background: rgb(98, 0, 73);
  background: rgb(57, 0, 98);
  background: linear-gradient(
    90deg,
    rgba(57, 0, 98, 1) 0%,
    rgba(158, 82, 150, 1) 100%
  );
}

.box-affix {
  display: inline-block;
  width: 216px;
  height: 64px;
  padding: 6px 8px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.line1 {
  background-color: #fff;
  height: 4px;
  width: 40px;
}

.card {
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  border-radius: 12px;
}

.card-body {
  padding: 10px;
}

.affix {
  width: 100%;
  background-color: white;
  top: 110px;
  z-index: 9999999;
  left: 0;
  height: 76px;
  padding-left: 32px;
}

.btn-green {
  color: #03ac0e;
  border: 1px solid #03ac0e;
  background-color: transparent;
  padding: 10px 70px;
  font-size: 20px;
  font-weight: bold;
}

/* style kategory foot */

.kategory-foot {
  position: relative;
  padding: 8px 32px;
  top: 190px;
}

.kategory-foot img {
  width: 30px;
}
.kategory-foot h4 {
  font-size: 13px;
}

/* style kategory foot2 */

.kategory-foot2 {
  position: relative;
  padding: 8px 32px;
  top: 190px;
}

.kategory-foot2 img {
  width: 40%;
}

.kategory-foot3 {
  position: relative;
  padding: 8px 32px;
  top: 190px;
}
